
#top {
    background-color: aquamarine;
    height: 60px;
}

#bottom {
    background-color: brown;
    height: 60px;
}

#middle {
    float: left;
    width: 100%;
}

#inside {
    background-color: deepskyblue;
    margin: 0 200px;
}

#leading {
    background-color: coral;
    width: 200px;
    margin-left: -100%;
    float: left;
}

#trailing {
    background-color: darkgreen;
    width: 200px;
    margin-left: -200px;
    float: left;
}